In [1]:
import pandas as pd

# Creation of a Series with integer data type elements

In [29]:
series1 = pd.Series(["1","2","3"])

In [20]:
series1 #we see that a series of 3 numbers has been created

0    1
1    2
2    3
dtype: object

# Validate the type of object series1

In [30]:
type(series1)

pandas.core.series.Series

# Creation of series with string data type elements

In [21]:
series2 = pd.Series(["Python","Pandas"])

In [22]:
series2

0    Python
1    Pandas
dtype: object

# Creation of a Data Frame using 2 Series

In [25]:
df = pd.DataFrame([series1,series2])

In [26]:
df

        0       1    2
0       1       2    3
1  Python  Pandas  NaN

In [27]:
type(df)

pandas.core.frame.DataFrame